@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --main: rgb(34, 68, 204);
        --minor: rgb(34, 34, 45);
        --font:rgb(156, 163, 175);
        --divider:rgb(209, 213, 219);
        --shadow: #6b7280;
        --bg-1: rgb(255, 255, 255);
        --bg-2: rgb(243, 244, 246);
      }
      * {
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
        @apply tracking-wide;
      }
}

@layer components {
    .use-shadow {
        @apply shadow-[2px_4px_12px_rgba(34,68,204,.08)];
    }
    .use-blur {
        @apply  bg-white/80 backdrop-blur-lg;
    }
    .use-max {
        @apply max-w-[2160px] mx-auto;
    }
    .use-hover {
        @apply hover:[transform:scale3d(1.04,1.04,1.04)];
    }
    .use-scroll-fade-animation{
      transition: transform 1s ease-in-out, opacity .8s ease-in-out;
    }
}

/**
@font-face {
  font-family: 'HarmonyOSHans-Regular';
  src: url('/fonts/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOSHans-Medium';
  src: url('/fonts/HarmonyOS_Sans_SC_Medium.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}
*/

body {
  color: rgb(var(--primary));
  background: rgb(var(--main));
}
